# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/win-64/ca-certificates-2020.6.20-hecda079_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/intel-openmp-2020.1-216.conda
https://repo.anaconda.com/pkgs/msys2/win-64/msys2-conda-epoch-20160418-1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/vs2015_runtime-14.16.27012-hf0eaf9b_3.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gmp-6.1.0-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-headers-git-5.0.0.4636.c0ad18a-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-isl-0.16.1-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-libiconv-1.14-6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-libmangle-git-5.0.0.4509.2e5a9a2-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-libwinpthread-git-5.0.0.4634.697f757-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-make-4.1.2351.a80a8b8-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-windows-default-manifest-6.4-3.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl-2020.1-216.conda
https://repo.anaconda.com/pkgs/main/win-64/vc-14.1-h0510ff6_4.conda
https://conda.anaconda.org/conda-forge/win-64/icu-64.2-he025d50_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jpeg-9d-he774522_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libblas-3.8.0-16_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libclang-9.0.1-default_hf44288c_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/lz4-c-1.9.2-h62dcd97_2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-crt-git-5.0.0.4636.2595836-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libs-core-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-mpfr-3.1.4-4.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-pkg-config-0.29.1-2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/openssl-1.1.1g-he774522_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/tk-8.6.10-he774522_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/xz-5.2.5-h62dcd97_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/zlib-1.2.11-h62dcd97_4.conda
https://conda.anaconda.org/conda-forge/win-64/libcblas-3.8.0-16_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/liblapack-3.8.0-16_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libpng-1.6.37-ha81a0f5_2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libgfortran-5.3.0-6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-mpc-1.0.3-3.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-winpthreads-git-5.0.0.4634.697f757-2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/sqlite-3.33.0-h2a8f88b_0.conda
https://conda.anaconda.org/conda-forge/win-64/zstd-1.4.5-h1f3a1b7_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/freetype-2.10.2-hd328e21_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libtiff-4.1.0-h885aae3_6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libs-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/python-3.7.7-h81c818b_4.conda
https://conda.anaconda.org/conda-forge/win-64/qt-5.12.5-h7ef1ec2_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/ephem-3.7.7.1-py37hfa6e2cd_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/korean_lunar_calendar-0.2.1-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-bzip2-1.0.6-6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-tools-git-5.0.0.4592.90b8472-2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/olefile-0.46-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pymeeus-0.3.7-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-2.4.7-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pyqt-5.12.3-py37h6538335_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/python_abi-3.7-1_cp37m.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytz-2020.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/six-1.15.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/tornado-6.0.4-py37hfa6e2cd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wincertstore-0.2-py37_0.conda
https://conda.anaconda.org/conda-forge/win-64/certifi-2020.6.20-py37hc8dfbb8_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/convertdate-2.2.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.10.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/cython-0.29.21-py37h1834ac0_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/kiwisolver-1.2.0-py37heaa310e_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libpython-2.0-py37hc8dfbb8_0.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-zlib-1.2.8-10.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/numpy-1.19.1-py37h7cee19a_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pillow-7.2.0-py37hc826c6e_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/holidays-0.10.3-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/lunarcalendar-0.0.9-py_0.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-binutils-2.25.1-5.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pandas-1.1.1-py37h1834ac0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/setuptools-49.6.0-py37_0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-5.3.0-6.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/matplotlib-base-3.3.1-py37h35e8a6e_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wheel-0.34.2-py37_0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-ada-5.3.0-6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-fortran-5.3.0-6.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-objc-5.3.0-6.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/matplotlib-3.3.1-1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pip-20.2.2-py37_0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-toolchain-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pystan-2.19.0.0-py37hcce6980_0.conda
https://conda.anaconda.org/conda-forge/win-64/fbprophet-0.6-py37h6538335_0.tar.bz2
