<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inflation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-white" href="/" >Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plots
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <!-- wages -->
                            <a class="dropdown-item" href="wages">Wages</a>
                            <!-- Cost of Living -->
                            <a class="dropdown-item" href="cpi">Cost of Living</a>
                            <!-- inflation -->
                            <a class="dropdown-item" href="inflation">Inflation</a>
                            <!-- How It Ties Together -->
                            <a class="dropdown-item" href="analysis">How Does It All Tie Together?</a>
                            <!-- Machine Learning -->
                            <a class="dropdown-item" href="ML">Machine Learning: Predicting the Future?</a>
                            
                        </div>

                        <a class="nav-link" href="data">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!--temprature content adjustments-->
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>How Does It All Tie Together?</h3>
                    <hr>
                    <!-- insert image here -->
                    <img src="../static/images/pepesilvia.jpg" width="100%" alt="pepe silvia">
                    <br>
                    <p>So what does all this mean? <br>
                    For a lot of Americans, the federal minimum wage is the difference between life and death. A missed paycheck or reduced hours could mean not eating, or losing their home.
                    </p>
                </div>
            </div>
        </div>    
    </div>

</body>

<footer>
    <div class="footer">&copy;Brantax&trade;<br>
    Anton Mendoza, Max Winder, and Brandon Hevley </div>
</footer>

</html>